<p id="notice"><%= notice %></p>

<div class="image">
<style> 
    .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   padding-top: 0px
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%;
   color: #fff 
}

</style>
    <img src="Lon.jpg" alt="London", width="100%">
    <h2>Careers made simple
    <p>Meet recruiters - Prep for interview - Apply online</P>
    <a href="/users/sign_up" class="btn btn-lg btn-primary">Sign up now!</a>
    </h2>
  </div>
</div>


<div class="container-fluid bg-3 text-center">
  <h3>Companies</h3><br>
    </div>
  
   <% @events.in_groups_of(4) do |group| %>
     <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
        <h4><%= link_to event.company, event %></h4>
        <%= image_tag event.picture_url, width: '100%' if event.picture.present?%>
      </div>
    <% end %>
  </div>
<% end %>
