<!DOCTYPE html>
<html lang="en">

<div class="image">
<style> 
    .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%;
   color: #fff 
}


</style>
    <img src="http://mrm-mccann.com/content/dam/mrmworldwide/officedetails/london-office/P41_MRM_LOCATIONS_London.jpg/jcr:content/renditions/cq5dam.resized.1200.png" alt="London", width="100%">
    <h2>Careers made simple
    <p>Meet recruiters - Prep for interview - Apply online</P>
    <a href="/users/sign_up" class="btn btn-lg btn-primary">Sign up now!</a>
    </h2>
  </div>
</div>